body {
	height : 100%;
	width : 100%;
}

.layer {
	height : 100%;
	left : 0;
	overflow: scroll;
	position : absolute;
	top : 0;
	width : 100%;
}

.layer:first-child {
	background-color : transparent !important;
}

.layer:last-child {
	background-color : rgba(128, 128, 128, 0.5);
}

.layer:last-child > div {
	background-color: #fff;
	margin-left : auto;
	margin-right : auto;
	width : 80%;
}

/* form */

label {
	display : block;
	float : left;
	width : 200px;
}

label:after {
	content: ":"
}

label + input, label + div, label + textarea {
	float : left;
	width : 200px;
}

div.error {
	float : left;
	color : #f00;
	padding-left : 10px;
}

div.error + br {
	clear : left;
}

.driverName, #plusDriver {
	background-color : #eee;
	color : #000;
	left : 0;
	height : 100px;
	position : absolute;
	width : 100px;
}

.driverName:hover, #plusDriver:hover {
	cursor : pointer;
	background-color : #000;
	color : #eee;
}

.driverName > div, #plusDriver > div {
	position : relative;
	top : 50%;
	text-align : center;
	transform : translateY(-50%);
}

.slider {
	transition : left 1s;
	transition-timing-function : ease-out;
}

.events {
	position : absolute;
	top : 100;
}

.year {
	height : 20px;
	position : relative;
	top : 0;
	background: linear-gradient(to right, red, blue);
}

.month {

}

.days {
	width : 1920px;
}

.hours {
	width : 80px;
}

.minutes {
	width : 20px;
}

.moveLeft, .moveRight {
	line-height : 100%;
	position : absolute;
	top : 100px;
	width : 20px;
}

.moveLeft span, .moveRight span {
	vertical-align : middle;
}

.moveLeft:hover, .moveRight:hover {
	background-color : #aaa;
}

.moveLeft {
	left : 0;
}

.moveRight {
	right : 0;
}
