html, body {
	width : 100%;
	overflow-x : hidden;
}

.layer {
	height : 100%;
	left : 0;
	position : absolute;
	top : 0;
	width : 100%;
	overflow-x : hidden;
}

.layer:first-child {
	background-color : transparent !important;
}

.layer:first-child > div {
	width : 100%;
}

.layer:last-child {
	background-color : rgba(128, 128, 128, 0.5);
}

.layer > div {
	background-color: #fff;
	margin-left : auto;
	margin-right : auto;
	width : 80%;
}

/* form */

label {
	display : block;
	float : left;
	width : 200px;
}

label:after {
	content: ":"
}

label + input, label + div, label + textarea {
	float : left;
	width : 200px;
}

div.adder {
	float : left;
	font-weight : bold;
	color : #fff;
	text-shadow : #000 -1px -1px 0, #000 1px -1px 0, #000 1px 1px 0, #000 -1px 1px 0, #000 -1px 0 0, #000 1px 0 0;
	transition : color 0.25s;
	transition-timing-function : ease;
}

div.adder:hover {
	color : #00f;
	cursor : pointer;
}

div.error {
	float : left;
	color : #f00;
	padding-left : 10px;
}

div.error + br {
	clear : left;
}

.driverName, #plusDriver {
	user-select : none;
	-moz-user-select : none;
	-webkit-user-select : none;
	background-color : #eee;
	color : #000;
	left : 0;
	height : 100px;
	position : absolute;
	width : 100px;
	z-index : 6;
	transition : background-color 0.25s, color 0.25s;
	transition-timing-function : ease;
}

#plusDriver {
	top : 120px;
}

.driverName:hover, #plusDriver:hover {
	cursor : pointer;
	background-color : #000;
	color : #eee;
}

.driverName > div, #plusDriver > div {
	position : relative;
	top : 50%;
	text-align : center;
	transform : translateY(-50%);
}

.slider {
	transition : left 1s;
	transition-timing-function : ease-out;
}

.events {
	user-select : none;
	-moz-user-select : none;
	-webkit-user-select : none;
	position : absolute;
	top : 20px;
}

.year {
	position : absolute;
	height : 20px;
	top : 0;
	background-color : #fff;
	z-index : 1;
}

.month {
	position : absolute;
	top : 20px;
	height : 20px;
	background-color : #fff;
	z-index : 2;
}

.day {
	position : absolute;
	height : 20px;
	width : 1440px;
	top : 40px;
	margin : 0;
	padding : 0;
	background-color : #fff;
	z-index : 3;
}

.year > div, .month > div, .day > div {
	display : inline-block;
	position : absolute;
	white-space : nowrap;
	margin : 0;
	padding : 0;
}

.hour {
	position : absolute;
	top : 60px;
	width : 60px;
	text-align : center;
	border-style : solid;
	border-color : #000;
	border-width : 0 0 0 1px;
	background-color : #fff;
	z-index : 4;
}

.minute {
	position : absolute;
	height : 20px;
	top : 80px;
	width : 15px;
	text-align : center;
	transform: rotate(-90deg);
	background-color : #fff;
	z-index : 5;
}

.moveLeft, .moveRight {
	user-select : none;
	-moz-user-select : none;
	-webkit-user-select : none;
	line-height : 100%;
	position : absolute;
	width : 20px;
	z-index : 5;
	background-color : #eee;
	color : #000;
	height : 20px;
	text-align : center;
}

.moveLeft span, .moveRight span {
	vertical-align : middle;
}

.moveLeft:hover, .moveRight:hover {
	cursor : pointer;
	background-color : #000;
	color : #eee;
}

.moveLeft {
	left : 0;
}

.moveRight {
	right : 0;
}

.dayEnclosure {
	position : absolute;
	top : 0;
	left : 0;
}

.eventCell {
	position : absolute;
	width : 15px;
	height : 100px;
	z-index : 5;
	transition : background-color 0.2s;
	transition-timing-function : ease;
}

.cellOdd {
	background-color : #eee;
}

.cellEven {
	background-color : #aaa;
}

.eventCell.eventHover {
	background-color : #f00;
}

.eventCell.eventSelected {
	background-color : #0f0;
}

.eventCell.eventsInBetween {
	background-color : #00f;
}

.canceller {
	float : right;
	margin-right : 2px;
	color : #fff;
	text-shadow : #000 -1px -1px 0, #000 1px -1px 0, #000 1px 1px 0, #000 -1px 1px 0, #000 -1px 0 0, #000 1px 0 0;
	font-family : serif;
	transition : color 0.25s;
	transition-timing-function : ease;
}

.canceller:hover {
	color : #f00;
	cursor : pointer;
}

#topBar {
	height : 20px;
}

#topBar > div {
	float : left;
	text-align : center;
	width : 33%;
}
