html, body {
	height : 100%;
	width : 100%;
	overflow-x : hidden;
}

.layer {
	height : 100%;
	left : 0;
	position : absolute;
	top : 0;
	width : 100%;
	overflow-x : hidden;
}

.layer:first-child {
	background-color : transparent !important;
}

.layer:last-child {
	background-color : rgba(128, 128, 128, 0.5);
}

.layer:last-child > div {
	background-color: #fff;
	margin-left : auto;
	margin-right : auto;
	width : 80%;
}

/* form */

label {
	display : block;
	float : left;
	width : 200px;
}

label:after {
	content: ":"
}

label + input, label + div, label + textarea {
	float : left;
	width : 200px;
}

div.error {
	float : left;
	color : #f00;
	padding-left : 10px;
}

div.error + br {
	clear : left;
}

.driverName, #plusDriver {
	background-color : #eee;
	color : #000;
	left : 0;
	height : 100px;
	position : absolute;
	width : 100px;
}

.driverName:hover, #plusDriver:hover {
	cursor : pointer;
	background-color : #000;
	color : #eee;
}

.driverName > div, #plusDriver > div {
	position : relative;
	top : 50%;
	text-align : center;
	transform : translateY(-50%);
}

.slider {
	transition : left 1s;
	transition-timing-function : ease-out;
}

.events {
	position : absolute;
	top : 0;
	height : 20px;
}

.year {
	position : absolute;
	height : 20px;
	top : 0;
	background: linear-gradient(to right, red, blue);
}

.month {
	position : absolute;
	top : 20px;
	height : 20px;
	background: linear-gradient(to right, green, blue);
}

.day {
	position : absolute;
	height : 20px;
	width : 1440px;
	top : 40px;
	background: linear-gradient(to right, red, green);
}

.year > div, .month > div, .day > div {
	display : inline-block;
	position : absolute;
}

.hour {
	position : absolute;
	top : 60px;
	width : 60px;
	text-align : center;
	border-style : solid;
	border-color : #000;
	border-width : 0 0 0 1px;
}

.minute {
	position : absolute;
	height : 20px;
	top : 80px;
	width : 20px;
	text-align : center;
	transform: rotate(-90deg);
}

.moveLeft, .moveRight {
	line-height : 100%;
	position : absolute;
	top : 100px;
	width : 20px;
}

.moveLeft span, .moveRight span {
	vertical-align : middle;
}

.moveLeft:hover, .moveRight:hover {
	background-color : #aaa;
}

.moveLeft {
	left : 0;
}

.moveRight {
	right : 0;
}
