		<form action="?" method="post">
			<input type="hidden" name="id" value="{{.ID}}" />
			<label for="name">Company Name</label>
			<input type="text" name="name" id="name" value="{{.Name}}" />
			<div class="error">{{.NameError}}</div>
			<br />

			<label for="address">Address</label>
			<textarea name="address" id="address">{{.Address}}</textarea>
			<div class="error">{{.AddressError}}</div>
			<br />

			<label for="reference">Reference</label>
			<input type="text" name="reference" id="reference" value="{{.Reference}}" />
			<div class="error">{{.ReferenceError}}</div>
			<br />

			<input type="submit" value="Submit" />
		</form>
