{{template "header.html" args "Driver View" "form"}}
		<h2>{{.Driver.Name}}</h2>
		<form action="?" method="post">
			<label for="from">From</label>
			<input type="text" name="from" id="from" value="{{.From}}" />
			<br />

			<label for="to">To</label>
			<input type="text" name="to" id="to" value="{{.to}}" />
			<br />
			<input type="submit" value="Get" />
		</form>

		<ul>
{{range .Events}}			<li>{{.Start}} - {{.From}} -> {{.To}} ({{.Client.Name}})</li>
{{end}}		</ul>

{{template "footer.html"}}
