		<form action="?" method="post">
			<input type="hidden" name="id" value="{{.ID}}" />
			<label for="name">Name</label>
			<input type="text" name="name" id="name" value="{{.Name}}" />
			<div class="error">{{.NameError}}</div>
			<br />

			<label for="registration">Car Registration</label>
			<input type="text" name="registration" id="registration" value="{{.Registration}}" />
			<div class="error">{{.RegistrationError}}</div>
			<br />

			<label for="phone">Phone Number</label>
			<input type="text" name="phone" id="phone" value="{{.Phone}}" />
			<div class="error">{{.PhoneError}}</div>
			<br />

			<input type="submit" value="Submit" />
		</form>
