{{template "header.html" "Drivers"}}
		<div><a href="adddriver">Add Driver</a></div>
		{{.Pagination.HTML "drivers?page="}}
		<table>
			<tr>
				<th>Driver Name</th>
				<th>Registration</th>
				<th>Phone Number</th>
				<th>Actions</th>
			</tr>
{{range .Drivers}}{{if ne .ID 0}}			<tr>
				<td>{{.Name}}</td>
				<td>{{.Registration}}</td>
				<td>{{.Phone}}</td>
				<td><a href="updatedriver?id={{.ID}}">Edit</a> <a href="removedriver?id={{.ID}}">Remove</a></td>
			</tr>
{{end}}{{end}}		</table>
		{{.Pagination.HTML "drivers?page="}}
{{template "footer.html"}}
