{{template "header.html" args "Event Details" "form"}}
		<form action="?" method="post">
			<input type="hidden" name="start" value="{{.Event.Start.Unix}}" />
			<input type="hidden" name="start" value="{{.Event.End.Unix}}" />
			<label>Start Time</label><input type="text" readonly="readonly" value="{{.Event.Start.Format "2006/01/02 15:04"}}" /><br />
			<label>(Esitmated) End Time</label><input type="text" readonly="readonly" value="{{.Event.End.Format "2006/01/02 15:04"}}" /><br />
			<label for="clientName">Client Name</label><input class="autocomplete" autocomplete-url="/autocompleteClientName" type="text" name="clientName" id="clientName" value="{{.Event.ClientName}}" /><br />

		</form>
		<script type="text/javascript" src="/resources/autocomplete.js"></script>
{{template "footer.html"}}
