{{template "header.html" args "Events" "eventListH"}}{{$data := .}}{{$times := .BlockTimes}}
		<form action="?" method="get">
{{if ne .Event.ID 0}}			<input type="hidden" name="id" value="{{.Event.ID}}" />
{{end}}			<div id="dates">
				<input type="submit" name="date" value="{{.Date -1}}" />
				{{.Date 0}}
				<input type="submit" name="date" value="{{.Date 1}}" />
			</div>
		</form>
		<table>
			<tr>
				<th>Driver</th>
{{range $times}}					<th>{{.Format "15:04"}}</th>
{{end}}			</tr>
{{range $driverNum, $driver := .Drivers}}				<tr>
				<th><a href="updatedriver?id={{.ID}}">{{.Name}}</a></th>
{{range $times}}{{$event := $data.BlockInfo $driverNum .}}{{if $event.Empty}}				<td>
					<form action="?force=2" method="post">
{{if ne $data.Event.ID 0}}						<input type="hidden" name="id" value="{{$data.Event.ID}}" />
{{end}}						<input type="hidden" name="driverId" value="{{$driverNum}}" />
						<input type="submit" name="start" value="{{.Unix}}" />
					</form>
				</td>
{{else}}{{$numBlocks := $event.NumBlocks .}}{{if gt $numBlocks 0}}					<td colspan="{{$numBlocks}}">Event</td>
{{end}}{{end}}{{end}}			</tr>
{{end}}		</table>
{{template "footer.html"}}
