{{template "header.html" args "Events" "default"}}
		<h2>{{.Date 0}}</h2>
		<table>
			<tr>
				<th>Time</th>
{{range .Drivers}}				<th><a href="updatedriver?id={{.ID}}">{{.Name}}</a></th>
{{end}}				<th><a href="adddriver">+</a></td>
			</tr>
{{$data := .}}{{range .BlockTimes}}			<tr>
				<td>{{.Format "15:04"}}</td>
{{$time := .}}{{range $driverNum, $driver := $data.Drivers}}{{$event := $data.BlockInfo $driverNum $time}}{{if $event.Empty}}				<td><a href="addevent?time={{$time.Unix}}">Empty</a></td>
{{else}}{{$numBlocks := $event.NumBlocks .}}{{if gt $numBlocks 0}}				<td rowspan="{{$numBlocks}}">Event</td>
{{end}}{{end}}{{end}}				<td><td>
			</tr>
{{end}}
		</table>
{{template "footer.html"}}
