{{template "header.html" args "Events" "eventListH"}}{{$data := .}}{{$times := .BlockTimes}}
		<form action="?" method="get">
			<div id="dates">
				<input type="submit" name="date" value="{{.Date -1}}" />
				{{.Date 0}}
				<input type="submit" name="date" value="{{.Date 1}}" />
			</div>
		</form>
		<table class="selectStart">
			<tr>
				<th>Driver</th>
{{range $times}}					<th>{{.Format "15:04"}}</th>
{{end}}			</tr>
{{range $driverNum, $driver := .Drivers}}				<tr>
				<th><a href="updatedriver?id={{.ID}}">{{.Name}}</a></th>
{{range $times}}{{$event := $data.BlockInfo $driverNum .}}{{if $event.Empty}}				<td>
					<form action="addevent" method="post">
						<input type="hidden" name="driverId" value="{{$driver.ID}}" />
						<input type="submit" name="start" value="{{.Unix}}" />
					</form>
				</td>
				{{else}}{{$numBlocks := $event.NumBlocks .}}{{if gt $numBlocks 0}}				<td class="event" colspan="{{$numBlocks}}">
					<div class="eventControls">
						<form action="/updatevent" method="post">
							<input type="hidden" name="id" value="{{$event.ID}}" />
							<input type="submit" value="E" />
						</form>
						<form action="/removeevent" method="post">
							<input type="hidden" name="id" value="{{$event.ID}}" />
							<input type="submit" value="X" />
						</form>
					</div>
					<div class="eventData">{{$event.Client.Name}}<br />{{$event.From}} -> {{$event.To}}</div>
				</td>
{{end}}{{end}}{{end}}			</tr>
{{end}}		</table>
{{template "footer.html"}}
