{{template "header.html" args "Events" "eventListH"}}{{$data := .}}{{$times := .BlockTimes}}
		<form action="?" method="post">
			<div id="dates">
				<input type="submit" name="date" value="{{.Date -1}}" {{if .Event.Start.Before .Today}}{{else}}disabled="disabled" {{end}}/>
				{{.Date 0}}
				<input type="submit" name="date" value="{{.Date 1}}" {{if .Today.Before .NextEvent }}{{else}}disabled="disabled" {{end}}/>
			</div>
{{if ne .Event.ID 0}}			<input type="hidden" name="id" value="{{.Event.ID}}" />
{{end}}			<input type="hidden" name="driverId" value="{{$data.Event.Driver.ID}}" />
			<input type="hidden" name="start" value="{{.Event.Start.Unix}}" />
			<table>
				<tr>
					<th>Driver</th>
{{range $times}}						<th>{{.Format "15:04"}}</th>
{{end}}					</tr>
{{range $driverNum, $driver := .Drivers}}					<tr>
						<th>{{.Name}}</th>
{{range $times}}{{$event := $data.BlockInfo $driverNum .}}{{if $event.Empty}}						<td{{if eq $driver.ID $data.Event.Driver.ID}}{{if .Equal $data.Event.Start}} id="start"{{end}}{{end}}>{{if eq $driver.ID $data.Event.Driver.ID}}{{if $data.ValidEnd .}}<input type="submit" name="end" value="{{.Unix}}" />{{else}}&nbsp;{{end}}{{else}}&nbsp;{{end}}</td>
{{else}}{{$numBlocks := $event.NumBlocks .}}{{if gt $numBlocks 0}}						<td class="event" colspan="{{$numBlocks}}">Event</td>
{{end}}{{end}}{{end}}					</tr>
{{end}}			</table>
		</form>
		{{template "footer.html"}}
